<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.damai.dao.DmOrdersMapper">

	<resultMap type="com.yc.damai.po.DmOrders" id="rmdos">
		<!-- 订单详细对应的商品 一对一关联查询 select 用于指定完成关联查询的sql的id ==> -->
		<collection property="dmOrderitem" column="id"
			select="com.yc.damai.dao.DmOrderitemMapper.selectByOid"></collection>
	</resultMap>
	
	<select id="selectById" resultMap="rmdos">
		SELECT * FROM dm_orders where id= #{id}
	</select>

	<!-- useGeneratedKeys="true" keyProperty="id"
		keyColumn="id"
		获取数据库的自增值
		 resultType="int" 用于定义返回的主键值的数据类型
		Oracle 没有自增列值 === 使用序列解决自动生成主键的问题  假设序列的名字是seq_order_id
		MySQL 有一个last_insert_id() 函数可以模拟序列 -->
	
	<!-- 
	<insert id="insert" useGeneratedKeys="true" >
	order="BEFORE" 当前的sql 是在insert 之前执行还是在之后执行（之后执行的诶）
		<selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="int">
			select last_insert_id()     mysql 没有也不需要伪表
		</selectKey>
		
		insert into dm_orders values (null,#{total},now(),#{state},#{uid},#{aid})
	</insert> 
	-->
	
	<!-- ORACLE
	<insert id="insert" useGeneratedKeys="true" >
		order="BEFORE" 当前的oracle 是在insert 之前执行还是在之后执行（之前执行的诶）
			<selectKey keyProperty="id" keyColumn="id" order="BEFORE">
				select seq_order_id.nextval from dual
			</selectKey>
			
			insert into dm_orders values (#{id},#{total},now(),#{state},#{uid},#{aid})
	</insert>
	 -->
	
	<!-- MySQL
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		insert into dm_orders values (null,#{total},now(),#{state},#{uid},#{aid})
	</insert> -->

</mapper>

